*{
    padding: 0;
    margin: 0;
}
.detail label{
    font-size: 23px;
}
.foorm input{
    font-size: 22px;
    border: 1px solid black;
}
body{
    background-color: #c5cae9;
    padding: 25px;
  }
  
  .container{
    width: 720px;
    height: 440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    border-radius: 12px;
    background-color: #90a4ae;
    font-family: Lato;
  }
  
  .container h2{
    text-align: center;
  }
  
  table{
    margin: 0 auto;
  }
  
  td, th {
    padding: 12px;
    border: 2px dotted;
  }
  